* {
  padding: 0;
  margin: 0;
}

#game {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.track {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: aqua;
  width: 23vw;
  height: 92vh;
}

.static_button {
  position: absolute;
  bottom: 4vh;
}

.moving_button {
  position: absolute;
}
