@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Gemunu Libre", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}

#welcome {
  font-size: 10rem;
  opacity: 1;
}

#instructions {
  font-size: 10rem;
  display: none;
  opacity: 0;
}

#rules {
  font-size: 2rem;
  width: 60vw;
  text-align: center;
  display: none;
  opacity: 0;
}

#go {
  margin: 2rem;
  font-size: 2rem;
  padding: 1rem;
  display: none;
  opacity: 0;
}

#atb {
  font-size: 10rem;
  display: none;
  opacity: 0;
}
